<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=9;" />
    <title>ArcelorMital</title>

    <script src="~/scripts/Vendor/angular.min.js"></script>
    <script src="~/scripts/Vendor/angular-ui-router.js"></script>

    <script src="~/scripts/vendor/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/vendor/jquery-ui.min.js"></script>
    <script src="~/scripts/vendor/jquery-ui-timepicker-addon.js"></script>
    <script src="~/scripts/vendor/jsgrid.js"></script>

    <script src="~/scripts/shared/common.js"></script>
    <script src="~/scripts/shared/util.js"></script>

    <script src="~/scripts/angular/Index.js"></script>
    <script src="~/scripts/angular/Marker.js"></script>
    <script src="~/scripts/angular/Market.js"></script>
    <script src="~/scripts/angular/PA.js"></script>
    <script src="~/scripts/angular/WorkshopSpecs.js"></script>

    <!--tree grid scripts-->

    <!--add tree scripts-->
    <script src="~/Scripts/Vendor/jstree.js"></script>
    <script src="~/Scripts/TreeGrid/treeExt.js"></script>

    <!--add grid scripts-->
    <script src="~/Scripts/Vendor/jsgrid.js"></script>
    <script src="~/Scripts/Table/jsGridExt.js"></script>
    <script src="~/Scripts/Table/jsGridNewFields.js"></script>

    <!--add tree styles-->
    <link rel="stylesheet" href="~/Content/Tree/tree.css" />

    <!--add grid styles-->
    <link href="~/content/table/jsgrid.css" rel="stylesheet" />
    <link href="~/content/table/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/content/shared/datetimepicker.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="~/Content/shared/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/shared/layout.css" />

    <link rel="icon" href="~/Content/shared/favicon.ico" />
</head>
<body>

    <section ng-app="indexApp" class="container" >
       
        <ui-view>

            <div class="container loading">
                <div class="loading-msg">
                    loading...
                </div>
            </div>

        </ui-view>

    </section>

</body>
</html>