<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | ArcelorMital</title>

    <script src="~/scripts/vendor/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/vendor/jquery-ui.min.js"></script>
    <script src="~/scripts/vendor/jquery-ui-timepicker-addon.js"></script>
    <script src="~/scripts/vendor/jsgrid.js"></script>

    <script src="~/scripts/shared/common.js"></script>
    <script src="~/scripts/shared/util.js"></script>
    <script src="~/scripts/app/index.js"></script>

    <link rel="stylesheet" href="~/Content/shared/layout.css" />
    <link rel="stylesheet" href="~/Content/shared/bootstrap/css/bootstrap.css" />

    <link rel="icon" href="~/Content/shared/favicon.ico" />
</head>
<body>

    <section class="container">

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="index">ArcelorMital</a>
                <ul id="navigation" class="nav"></ul>
            </div>
        </div>

        @RenderBody()        

    </section>

</body>
</html>