<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.js"></script>
    <script src="~/scripts/shared/common.js"></script>
    <script src="~/scripts/shared/util.js"></script>

    <link rel="stylesheet" href="~/Content/shared/layout.css" />
    <link rel="stylesheet" href="~/Content/shared/bootstrap/css/bootstrap.css" />
</head>
<body>
    <div>
        <a href="~/table/index" class="lead">Tables</a>
        <a href="~/action/index" class="lead">Actions</a>
        <a href="~/form/index" class="lead">Forms</a>
    </div>
    @RenderBody()
</body>
</html>
