@{
    ViewBag.Title = "TreeGrids";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--add tree scripts-->
<script src="~/Scripts/Vendor/jstree.js"></script>
<script src="~/Scripts/TreeGrid/treeExt.js"></script>

<!--add grid scripts-->
<script src="~/Scripts/Vendor/jsgrid.js"></script>
<script src="~/Scripts/Table/jsGridExt.js"></script>
<script src="~/Scripts/Table/jsGridNewFields.js"></script>

<script src="~/Scripts/TreeGrid/index.js"></script>

<!--add tree styles-->
<link rel="stylesheet" href="~/Content/Tree/tree.css" />

<!--add grid styles-->
<link href="~/content/table/jsgrid.css" rel="stylesheet" />
<link href="~/content/table/jsgrid-theme.css" rel="stylesheet" />
<link href="~/content/shared/datetimepicker.css" rel="stylesheet" />

<div class="row">

    <div class="treeContainer span5">       
        <div id="jstree">
        </div>
    </div>
    
    <div id="treeGrid" class="span8">
    </div>
       
</div>



