@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- http://mssql2014srv/odata_unified_frontend/chart -->

<script type="text/javascript" src="~/scripts/Form/index.js"></script>
<script type="text/javascript" src="~/Scripts/Chart/index.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jquery-ui-datepicker-uk.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jquery-ui-datepicker-ru.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/Shared/datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Shared/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Chart/jquery.jqplot.css" />
<script class="include" type="text/javascript" src="~/Scripts/Vendor/jqplot/jquery.jqplot.js"></script>

<script type="text/javascript" src="~/Scripts/Vendor/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.json2.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.canvasTextRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.barRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.pieRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.pointLabels.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/jqplot/plugins/jqplot.meterGaugeRenderer.js"></script>
<script type="text/javascript" src="~/Scripts/Chart/jsPlotLineExt.js"></script>
<script type="text/javascript" src="~/Scripts/Chart/jsPlotBarExt.js"></script>
<script type="text/javascript" src="~/Scripts/Chart/jsPlotGaugeExt.js"></script>

<div class="plotLineContainer">
    <div id="plotLine"></div>
</div>

<script class="code" type="text/javascript">

    $(document).ready(function () {
        $plotLineContainer = $('#plotLine').empty();
        $plotLineContainer.odataPlotGauge({
            serviceUrl: serviceUrl,
            interval: 5000,
            maxValue : 1500,
            redValue : 1000
        });
    });

    //$(document).ready(function () {
    //    $plotBarContainer = $('#plotLine').empty();
    //    $plotBarContainer.odataPlotBar({
    //        serviceUrl: serviceUrl
    //    });
    //});

    //$(document).ready(function () {
    //    $plotLineContainer = $('#plotLine').empty();
    //    $plotLineContainer.odataPlotLine({
    //        serviceUrl: serviceUrl
    //    });
    //});

    //$plotLineContainer.odataPlotLine({
    //    serviceUrl: serviceUrl,
    //    translations: {
    //        begin: $translate.instant('plot.begin'),
    //        end: $translate.instant('plot.end'),
    //        scales: $translate.instant('plot.end')
    //    }
    //});

</script>
