@{
    ViewBag.Title = "Diagramm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        
        <title>index</title>

        <link rel="stylesheet" href="~/Content/Diagramm/joint.min.css" />

        <script src="~/Scripts/Diagramm/lodash.js"></script>
        <script src="~/Scripts/Diagramm/backbone.js"></script>
        <script src="~/Scripts/Diagramm/joint.min.js"></script>
        <script src="~/Scripts/Diagramm/diagrammExt.js"></script>
        <script src="~/Scripts/Diagramm/index.js"></script>
        
    </head>
    <body>

        @*<select id="diagramms">
            <option></option>
        </select>

        <div id="paper"> 
            
        </div>*@
        <div class="odataDiagramm">

        </div>
    </body>
</html>
