<h2>{{ 'gasCollection.gasReports' | translate }}</h2>

<div class="alert alert-info" role="alert">
  <strong>Внимание!</strong> Оборудование в процессе пуско-наладки. Данные могут быть недостоверны.
</div>

<div>
    <div>
        Выберите тип отчёта:
        <select disabled ng-model="typeOfReport.selected"
                ng-options="item.description for item in typeOfReport track by item.id"></select>
    </div>

    <div>
        Выберите точку отбора :
        <select ng-model="equipmentlist.selected"
                ng-options="item.description for item in equipmentlist track by item.id"></select>
    </div>
    
</div>

<div class="alert alert-info" role="alert">
    <strong>Внимание!</strong> Оборудование в процессе пуско-наладки. Данные могут быть недостоверны.
</div>
