<!--когда еще грузится страница-->
<div class="container loading" ng-show="$root.showLoadingState">
    <div class="loading-msg">
        <h1>Loading ...</h1>
    </div>
</div>

<ui-view>

</ui-view>

<link href="Content/Shared/layoutConsigners.css" rel="stylesheet" />
<link href="Content/Shared/jquery-ui.css" rel="stylesheet" />


<!--основная часть, когда страница прогрузилась-->
<div ng-show="!$root.showLoadingState">
    <h4 style="text-align:center">{{message}}</h4>

<!--    copy_id:{{copy_id}}-->

    <div ng-form="myForm">

        <div class="panel panel-default">
            <div class="panel-heading" 
                style="text-align: center" 
                ng-class="{'reject': ($parent.$parent.language == 'en' && CurrentWaybill.Status == 'reject'), 'reject ru': ($parent.$parent.language != 'en' && CurrentWaybill.Status == 'reject')}"
                ng-style="(CurrentWaybill.Status == 'reject') && {'background-color':'rgb(255, 169, 169)', 'background-repeat':'repeat'}">

                {{ 'consigners.Labels.waybill' | translate }} №
                <input type="text" class="form-control"
                    ng-model="CurrentWaybill.WaybillNumber"
                    ng-required="true"
                    ng-disabled="(CurrentWaybill.Status == 'used')"
                    title="{{ 'consigners.Placeholders.enterWaybillNumber' | translate }}"
                    ng-pattern="'[0-9]{1,12}'"
                    style="width: 80px; display: inline-block" />

            </div>
            <div class="panel-body">

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.wagonTypeNumber' | translate }}</div>
                    <div class="controlConsigners" style="position:relative;">
                        <input type="text" class="form-control selectConsigners"
                            ng-model="CurrentWaybill.WagonNumber"
                            ng-model-options="{ debounce: 400 }" 
                            ng-change="WagonNumberChange()"
                            placeholder="{{ 'consigners.Placeholders.enterWagonNumber' | translate }}"
                            title="{{ 'consigners.Placeholders.enterWagonNumber' | translate }}"
                            ng-required="true"
                            ng-disabled="(CurrentWaybill.Status == 'used')"
                            ng-pattern="WagonNumberPattern" />
                        <span class="checksum" ng-class="{active: WagonNumberCRC}" title="{{ 'consigners.Labels.wagonNumberCRC' | translate }}">{{ 'consigners.Labels.checksum' | translate }}</span>
                        <ui-select 
                            ng-model="CurrentWaybill.WagonType" 
                            on-select="GetWagonNumberPattern($item)" 
                            ng-required="true" 
                            ng-disabled="(CurrentWaybill.Status == 'used') || true" 
                            search-enabled="true" 
                            class="selectConsigners" 
                            theme="bootstrap"
                            title="{{ 'consigners.Placeholders.selectWagonType' | translate }}">
                            <ui-select-match placeholder="{{ 'consigners.Placeholders.selectWagonType' | translate }}">{{$select.selected.Description}}</ui-select-match>
                            <ui-select-choices repeat="type in WagonTypes | orderBy: 'Description' | propsFilter: {Description: $select.search}" position='auto'>
                            <div ng-bind-html="type.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.cargoType' | translate }}</div>
                    <div class="controlConsigners">
                        <ui-select 
                            ng-model="CurrentWaybill.CargoType"
                            ng-required="true" 
                            ng-disabled="(CurrentWaybill.Status == 'used')" 
                            search-enabled="true" 
                            class="selectConsigners" 
                            style="width: 505px"  
                            theme="bootstrap" 
                            title="{{ 'consigners.Placeholders.selectCargoType' | translate }}">
                            <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoType' | translate }}">{{$select.selected.SAPCode}}.{{$select.selected.Description}}</ui-select-match>
                            <ui-select-choices repeat="type in CargoTypesForSelect | propsFilter: {Description: $select.search, SAPCode: $select.search}" position='auto'>
                            <div ng-bind-html="type.SAPCode + '.' + type.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.cargoTypeNotes' | translate }}</div>
                    <div class="controlConsigners">
                        <input type="text" class="form-control"
                            ng-model="CurrentWaybill.CargoTypeNotes"
                            ng-disabled="(CurrentWaybill.Status == 'used')"
                            title=""
                            style="width: 505px; display: inline-block" />
                    </div>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{{ 'consigners.Labels.sender' | translate }}</div>
            <div class="panel-body">

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.cargoSender' | translate }}</div>
                    <div class="controlConsigners">
                        <ui-select 
                            ng-model="SelectedObjects.SenderShop" 
                            on-select="CargoSenderShopSelect($item)"
                            ng-required="true" 
                            ng-disabled="(CurrentWaybill.Status == 'used')" 
                            search-enabled="true" 
                            class="selectConsigners"  
                            theme="bootstrap" 
                            title="{{ 'consigners.Placeholders.selectCargoSenderShop' | translate }}">
                            <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoSenderShop' | translate }}">{{$select.selected.Description}}</ui-select-match>
                            <ui-select-choices repeat="sender in CargoSenderShops | orderBy: 'Description' | propsFilter: {Description: $select.search}" position='auto'>
                            <div ng-bind-html="sender.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                        <ui-select 
                            ng-model="CurrentWaybill.CargoSender" 
                            on-select="DistrictSelect($item, 'Sender')" 
                            ng-required="true" 
                            ng-disabled="!SelectedObjects.SenderShop || (CurrentWaybill.Status == 'used')" 
                            search-enabled="true" 
                            class="selectConsigners" 
                            theme="bootstrap" 
                            title="{{ 'consigners.Placeholders.selectCargoSenderDistrict' | translate }}">
                            <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoSenderDistrict' | translate }}">{{$select.selected.Description}}</ui-select-match>
                            <ui-select-choices repeat="sender in CargoSenderDistricts | orderBy: 'Description' | propsFilter: {Description: $select.search}" position='auto'>
                            <div ng-bind-html="sender.Description | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.senderStation' | translate }}</div>
                    <div class="controlConsigners">
                        <ui-select 
                            ng-required="true" 
                            ng-model="CurrentWaybill.SenderRWStation" 
                            ng-disabled="(CurrentWaybill.Status == 'used')"
                            search-enabled="true"  
                            theme="bootstrap" 
                            class="selectConsigners" 
                            style="width: 505px" 
                            title="{{ 'consigners.Placeholders.selectCargoSenderStation' | translate }}">
                        <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoSenderStation' | translate }}">{{$select.selected.Description}}</ui-select-match>
                        <ui-select-choices repeat="sender_station in RWStations | propsFilter: {Description: $select.search}" position='auto'>
                        <div ng-bind-html="sender_station.Description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.senderDT' | translate }}</div>
                    <div class="controlConsigners">
                        <input id="dtp_sender_arrive_dt" type="text"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.arriveDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectArriveDT' | translate }}"
                            ng-model="CurrentWaybill.SenderArriveDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">

                        <input id="dtp_sender_start_load_dt" type="text"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.startLoadDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectStartLoadDT' | translate }}"
                            ng-model="CurrentWaybill.SenderStartLoadDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">

                        <input id="dtp_sender_end_load_dt" type="text"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.endLoadDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectEndLoadDT' | translate }}"
                            ng-model="CurrentWaybill.SenderEndLoadDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">
                    </div>
                </div>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">{{ 'consigners.Labels.receiver' | translate }}</div>
            <div class="panel-body">

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.cargoReceiver' | translate }}</div>
                    <div class="controlConsigners">
                        <ui-select 
                            ng-model="SelectedObjects.ReceiverShop" 
                            on-select="CargoReceiverShopSelect($item)"
                            ng-required="true" 
                            ng-disabled="(CurrentWaybill.Status == 'used')"
                            search-enabled="true"  
                            class="selectConsigners"  
                            theme="bootstrap" 
                            title="{{ 'consigners.Placeholders.selectCargoReceiverShop' | translate }}">
                        <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoReceiverShop' | translate }}">{{$select.selected.Description}}</ui-select-match>
                        <ui-select-choices repeat="sender in CargoReceiverShops | orderBy: 'Description' | propsFilter: {Description: $select.search}" position='auto'>
                        <div ng-bind-html="sender.Description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                        <ui-select 
                            ng-model="CurrentWaybill.CargoReceiver" 
                            on-select="DistrictSelect($item, 'Receiver')" 
                            ng-required="true" 
                            ng-disabled="!SelectedObjects.ReceiverShop || (CurrentWaybill.Status == 'used')"
                            search-enabled="true" 
                            class="selectConsigners" 
                            theme="bootstrap"  
                            title="{{ 'consigners.Placeholders.selectCargoReceiverDistrict' | translate }}">
                        <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoReceiverDistrict' | translate }}">{{$select.selected.Description}}</ui-select-match>
                        <ui-select-choices repeat="sender in CargoReceiverDistricts | orderBy: 'Description' | propsFilter: {Description: $select.search}" position='auto'>
                        <div ng-bind-html="sender.Description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>


                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.receiverStation' | translate }}</div>
                    <div class="controlConsigners">
                        <ui-select 
                            ng-model="CurrentWaybill.ReceiverRWStation"
                            ng-required="true" 
                            ng-disabled="(CurrentWaybill.Status == 'used')"
                            search-enabled="true"  
                            class="selectConsigners" 
                            style="width: 505px"  
                            theme="bootstrap" 
                            title="{{ 'consigners.Placeholders.selectCargoReceiverStation' | translate }}">
                        <ui-select-match placeholder="{{ 'consigners.Placeholders.selectCargoReceiverStation' | translate }}">{{$select.selected.Description}}</ui-select-match>
                        <ui-select-choices repeat="sender_station in RWStations | propsFilter: {Description: $select.search}" position='auto'>
                        <div ng-bind-html="sender_station.Description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>

                <div class="controlsRowConsigners">
                    <div class="captionConsigners">{{ 'consigners.Labels.receiverDT' | translate }}</div>
                    <div class="controlConsigners">
                        <input id="dtp_receiver_arrive_dt" type="text"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.arriveDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectArriveDT' | translate }}"
                            ng-model="CurrentWaybill.ReceiverArriveDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">
                        <!--                        <p>dirty: {{myForm.dtp_receiver_arrive_dt.$dirty}}</p>
                        <p>invalid: {{myForm.dtp_receiver_arrive_dt.$invalid}}</p>-->
                        <input id="dtp_receiver_start_load_dt"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.startLoadDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectStartLoadDT' | translate }}"
                            ng-model="CurrentWaybill.ReceiverStartLoadDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">

                        <input id="dtp_receiver_end_load_dt"
                            class="ui-timepicker-input form-control selectConsigners"
                            placeholder="{{ 'consigners.Placeholders.endLoadDT' | translate }}"
                            title="{{ 'consigners.Placeholders.selectEndLoadDT' | translate }}"
                            ng-model="CurrentWaybill.ReceiverEndLoadDT"
                            ng-pattern="'^[0-9]{2}.[0-9]{2}.[0-9]{4} [0-9]{2}:[0-9]{2}$'"
                            style="width: 166px">
                    </div>
                </div>
            </div>
        </div>

        <div class="controlsRowConsigners" style="width: 100%; text-align: left">
            <input type="checkbox"
                   ng-model="ckbx.PrintExplCert"
                   ng-disabled="CurrentWaybill.Status == 'used'">
            {{ 'consigners.Labels.printCert' | translate }}
        </div>


        <div class="controlsRowConsigners" style="width: 100%; text-align: center">

            <button type="button"
                class="btn btn-default"
                style="width: 20%"
                ng-disabled="false"
                ng-click="Back()">
                &lt; {{ 'consigners.Buttons.back' | translate }}
            </button>

            <button type="button"
                class="btn btn-default"
                style="width: 20%"
                ng-disabled="myForm.$invalid"
                ng-click="SavePrint()">
                {{ 'consigners.Buttons.savePrint' | translate }}
            </button>

            <button type="button"
                class="btn btn-default"
                style="width: 20%"
                ng-disabled="myForm.$invalid"
                ng-click="SaveOnly()">
                {{ 'consigners.Buttons.save' | translate }}
            </button>

            <button type="button"
                class="btn btn-default"
                style="width: 20%"
                ng-show="modify_id"
                ng-disabled="(CurrentWaybill.Status == 'used')"
                ng-click="Reject()">
                {{ (CurrentWaybill.Status != 'reject' ? 'consigners.Buttons.reject' : 'consigners.Buttons.discardReject')  | translate }}
            </button>
        </div>



    </div>



    <!--<h3 ng-class="{'text-danger':myForm.$invalid, 'text-success':myForm.$valid }">Form valid? {{myForm.$valid}}</h3>-->

    <!--<div style="font-size: xx-small">
        <br />
        ID:{{CurrentWaybill.ID}}
    <br />
        WaybillNumber:{{CurrentWaybill.WaybillNumber}}
    <br />
        Status:{{CurrentWaybill.Status}}
    <br />
        WagonType:{{CurrentWaybill.WagonType}}
    <br />
        WagonNumberPattern:{{WagonNumberPattern}}
    <br />
        WagonNumber:{{CurrentWaybill.WagonNumber}}
    <br />
        CargoSender:{{CurrentWaybill.CargoSender}}
    <br />
        CargoReceiver:{{CurrentWaybill.CargoReceiver}}
    <br />
        ScrapType:{{CurrentWaybill.CargoType}}
    <br />
        SenderRWStation:{{CurrentWaybill.SenderRWStation}}
    <br />
        ReceiverRWStation:{{CurrentWaybill.ReceiverRWStation}}
    <br />
        SenderArriveDT:{{CurrentWaybill.SenderArriveDT}}
    <br />
        SenderStartLoadDT:{{CurrentWaybill.SenderStartLoadDT}}
    <br />
        SenderEndLoadDT:{{CurrentWaybill.SenderEndLoadDT}}
    <br />
        ReceiverArriveDT:{{CurrentWaybill.ReceiverArriveDT}}
    <br />
        ReceiverStartLoadDT:{{CurrentWaybill.ReceiverStartLoadDT}}
    <br />
        ReceiverEndLoadDT:{{CurrentWaybill.ReceiverEndLoadDT}}
    </div>-->

</div>

<div>
</div>







