<!--когда еще грузится страница-->
<div class="container loading" ng-show="$root.showLoadingState">
    <div class="loading-msg">
        <h1>Loading ...</h1>
    </div>
</div>


<link href="Content/Shared/layoutConsigners.css" rel="stylesheet" />


<!--основная часть, когда страница прогрузилась-->
<div ng-show="!$root.showLoadingState">
    
<!--    <div>
        ArchiveWaybillSelected:{{ArchiveWaybillSelected}}
    <br />
        CurrentWaybill.ID:{{CurrentWaybill.ID}}
    </div>-->

    <div class="row" style="background-color: #eeeeee; padding: 10px">
        <div class="col-md-5 col-sm-5 col-xs-12" style="border-right: 1px solid #d4d4d4">
            
            <div class="controlsRowConsigners" style="width: 100%; text-align: center">
                <button type="button"
                    class="btn btn-default"
                    style="width: 48%"
                    ng-disabled="false"
                    ng-click="Create()">
                    {{ 'consigners.Buttons.create' | translate }}
                </button>

                <button type="button"
                    class="btn btn-default"
                    style="width: 48%"
                    ng-disabled="!CurrentWaybill.ID || !ArchiveWaybillSelected"
                    ng-click="CreateCopy()">
                    {{ 'consigners.Buttons.createCopy' | translate }}
                </button>
            </div>
            <div class="controlsRowConsigners" style="width: 100%; text-align: center">
                <button type="button"
                    class="btn btn-default"
                    style="width: 48%"
                    ng-disabled="!CurrentWaybill.ID || !ArchiveWaybillSelected"
                    ng-click="Modify()">
                    {{ 'consigners.Buttons.modify' | translate }}
                </button>

                <button type="button"
                    class="btn btn-default"
                    style="width: 48%"
                    ng-disabled="!CurrentWaybill.ID || !ArchiveWaybillSelected || (CurrentWaybill.Status == 'reject')"
                    ng-click="Print()">
                    {{ 'consigners.Buttons.print' | translate }}
                </button>
            </div>

            <div class="treeContainerConsigners" style="height: auto">
                <!--<input type="text" class="form-control" placeholder="Search node .." id="search">-->

                <ui-select
                    ng-model="SearchedWaybillShop"
                    on-select="WaybillShopSelect($item)"
                    search-enabled="true"
                    ng-required="false"
                    class="selectConsigners"
                    style="width: 100%"
                    theme="bootstrap"
                    title="Select a shop">
                        <ui-select-match allow-clear="true" placeholder="{{ 'consigners.Placeholders.selectShop' | translate }}">{{$select.selected.Description}}</ui-select-match>
                        <ui-select-choices repeat="shop in WaybillShops | propsFilter: {Description: $select.search}" position='down'>
                        <div ng-bind-html="shop.Description | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                <div class="treeContainerConsigners" id="waybill_list" style="background-color: white">
                </div>
                <div class="" style="margin-top: 5px;">
                    <table style="width: 100%; font-size: 12px;">
                        <tr ng-show="CurrentWaybill.Consigner">
                            <td>{{ 'consigners.Labels.consigner' | translate }}	</td>
                            <td style="text-align: right">{{CurrentWaybill.Consigner}}</td>
                        </tr>
                        <tr ng-show="CurrentWaybill.Status">
                            <td>{{ 'consigners.Labels.status' | translate }}	</td>
                            <td style="text-align: right; text-transform: uppercase"
                                ng-style="{'color': CurrentWaybill.Status == 'reject' ? 'red' : 'auto'}">
                                {{ 'consigners.Labels.reject.'+ CurrentWaybill.Status | translate }}
                            </td>
                        </tr>
                        <tr ng-show="CurrentWaybill.CreateDT">
                            <td>{{ 'consigners.Labels.creatingDT' | translate }}	</td>
                            <td style="text-align: right">{{CurrentWaybill.CreateDT | date:'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        <tr ng-show="CurrentWaybill.EditDT">
                            <td>{{ 'consigners.Labels.modifyingDT' | translate }}	</td>
                            <td style="text-align: right">{{CurrentWaybill.EditDT | date:'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>


        <div class="col-md-7 col-sm-7 col-xs-12" align="center" style="border-left: 1px solid #d4d4d4">
            <div ng-hide="CurrentWaybill.ID || ArchiveWaybillSelected" style="display: table; width: 100%; height: 100%">
                <div style="color: gray">
                    <h1>{{ 'consigners.Placeholders.chooseWaybill' | translate }}</h1>
                </div>
            </div>
            <div ng-hide="CurrentWaybill.ID || !ArchiveWaybillSelected" style="display: table; width: 100%; height: 100%">
                <div style="color: gray">
                    <h1>{{ 'consigners.Placeholders.loading' | translate }}</h1>
                </div>
            </div>
            
            <div id="waybill_toprint" 
                ng-show="CurrentWaybill.ID"
                ui-view="waybill_toprint"
                ng-class="{'reject': ($parent.$parent.language == 'en' && CurrentWaybill.Status == 'reject'), 'reject ru': ($parent.$parent.language != 'en' && CurrentWaybill.Status == 'reject')}"
                style="background-color: white; padding-top: 5px;">
            </div>
            <div id="explosion_cert" 
                ng-show="false"
                ui-view="explosion_cert">
            </div>
        </div>
        
    </div>
</div>














