
<div class="container errorHandle">
    <p>
        <label>errorCode:</label>
        <textarea class="errorCode" readonly maxlength="2000">
            {{errorCode}}
        </textarea>
    </p>

    <p>
        <label>Description:</label>
        <textarea class="userErrorDescription"
                  ng-model="errorDescription" maxlength="2000"></textarea>
    </p>


    <div class="control-row">
        <button class="btn btn-default"
                ng-click="sendError()">
            Send
        </button>

        <button class="btn btn-default"
                ng-if="back"
                ng-click="cancel()">
            Cancel
        </button>
    </div>

</div>

