<div class="container loading" ng-show="state=='loading'">

    <div class="loading-msg">
        loading...
    </div>

</div>

<div class="navbar">
    <div class="navbar-inner">

        <a class="brand" ui-sref="app.welcome">ArcelorMittal</a>

        <ul id="navigation" class="nav">

            <li ng-repeat="role in roles"
                ng-class="{'active': activeTab == role.RoleName}">
                <a ui-sref="app.{{role.RoleName}}">{{ 'index.' + role.RoleName | translate }}</a>
            </li>

        </ul>

        <ul class="nav navbar-nav pull-right">                       

            <li class="navbar-text">{{ 'index.User' | translate }}: {{user}}</li>

            <li>
                <select ng-model="language"
                        ng-change="changeLanguage(language)"
                        class="navbar-text input-small">
                    <option value="ua">UA</option>
                    <option value="ru">RU</option>                    
                    <option value="en">EN</option>                    
                </select>
            </li>

        </ul>

    </div>
</div>

<ui-view></ui-view>