@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/vendor/jsgrid.js"></script>
<script src="~/scripts/table/jsGridExt.js"></script>
<script src="~/scripts/table/jsGridNewFields.js"></script>
<script src="~/scripts/table/index.js"></script>

<link href="~/content/table/jsgrid.css" rel="stylesheet" />
<link href="~/content/table/jsgrid-theme.css" rel="stylesheet" />
<link href="~/content/shared/datetimepicker.css" rel="stylesheet" />

<div class="row show-grid">
    <div class="span5">
        <ul id="item_list" class="pre-scrollable"></ul>
    </div>

    <div id="grid" class="span8"></div>
</div>

