
<!--﻿<link href="Content/Shared/layoutWA.css" rel="stylesheet" />-->
<script type="text/javascript" src="Scripts/Vendor/jquery.qrcode.min.js"></script>

<ul class="nav nav-tabs">

     <li class="tab" ui-sref-active="active">
        <a ui-sref="app.WeightAnalytics.Main" ui-sref-opts="{reload: true}" ng-if="false">Main</a>
    </li>

     <li class="tab" ui-sref-active="active">
        <a ui-sref="app.WeightAnalytics.Find" ui-sref-opts="{reload: true}">{{ 'consigners.Labels.find' | translate }}</a>
    </li>

    <li ng-repeat="Weighbridge in AvalWeighbridges"
        class="tab" ui-sref-active="active">
        <a ui-sref=".{{Weighbridge.ScaleType}} ({ wb_id: Weighbridge.ID, ws_id: null })">{{Weighbridge.Description}}</a>
    </li>


</ul>


<div ui-view>
    app.WeightAnalytics content here
</div>

