@{
    ViewBag.Title = "WorkshopSpecs";
    Layout = "~/Views/Shared/_App.cshtml";
}

<!--add tree scripts-->
<script src="~/Scripts/Vendor/jstree.js"></script>
<script src="~/Scripts/TreeGrid/treeExt.js"></script>

<!--add grid scripts-->
<script src="~/Scripts/Vendor/jsgrid.js"></script>
<script src="~/Scripts/Table/jsGridExt.js"></script>
<script src="~/Scripts/Table/jsGridNewFields.js"></script>

<!--add tree styles-->
<link rel="stylesheet" href="~/Content/Tree/tree.css" />

<!--add grid styles-->
<link href="~/content/table/jsgrid.css" rel="stylesheet" />
<link href="~/content/table/jsgrid-theme.css" rel="stylesheet" />
<link href="~/content/shared/datetimepicker.css" rel="stylesheet" />


<script src="~/scripts/app/workshopspecs.js"></script>

<div class="row">

    <div class="treeContainer span5">
        <div id="hierarchy">
        </div>
    </div>

    <div class="span5">
        <div id="equipment"></div>
        <div id="equipment_property"></div>
    </div>

</div>