@{
    ViewBag.Title = "WorkshopSpecs";
    Layout = "~/Views/Shared/_App.cshtml";
}

<script src="~/scripts/app/workshopspecs.js"></script>

<div class="hero-unit">

    <h1>WorkshopSpecs</h1>

</div>