/*modified grid*/

.jsgrid-filter-row input, .jsgrid-filter-row textarea, .jsgrid-filter-row select, .jsgrid-edit-row input, .jsgrid-edit-row textarea, .jsgrid-edit-row select, .jsgrid-insert-row input, .jsgrid-insert-row textarea, .jsgrid-insert-row select {
    width: 100%;
    height: 30px;
    margin-bottom: 0;
}

/*hide 'default' datepicker div*/
div.row + #ui-datepicker-div,
form#form + #ui-datepicker-div{
    display: none;
}

#ui-datepicker-div{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.ui-icon.ui-icon-circle-triangle-e{
    float: right;
}

/*modified bootstrap*/

input.form{
    margin-left: 12px;
}

ul#item_list.pre-scrollable{
    max-height:500px;
}

select.input-small{
    margin-left: 26px;
}

span.select-form-result{
    margin-left: 30px;
}

p.not-editable-field{
    display: inline-block;
    height: 26px;
    margin: 5px 0 0 11px;
}

.bool-checkbox{
    margin: 8px 0 0 12px!important;
}

span.state{
    padding-top: 5px;
    padding-left: 5px;
}

span.state.success{
    color: green;
}

span.state.failed{
    color: red;
}

input#fileUpload{
    margin-left: 12px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	margin-left: 12px;
}

/*modified datetimepicker*/

span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all{
    height: 30px;
    display: inline-block;
    width: 80px;
    position: relative;
}

a.ui-spinner-button.ui-spinner-up.ui-corner-tr.ui-button.ui-widget.ui-state-default.ui-button-text-only{
    position:absolute;
    top:-1px;
    cursor: pointer;
}

a.ui-spinner-button.ui-spinner-down.ui-corner-br.ui-button.ui-widget.ui-state-default.ui-button-text-only{
    position:absolute;
    bottom: -1px;
    cursor: pointer;
}

/*tree grid modified*/

div.mainButtonsControls input[type='text'], div.createNodeControls input[type='text']{
    margin: 0;
}

div.mainButtonsControls button{
    margin-right: 5px;
}

div.createNodeControls button#accept{
    margin: 0 5px 0 5px;
}

div#treeRoot{
    margin-top:10px;
}

div.treeContainer{
    padding: 10px;
}

div#jstree{
    margin-top:10px;
}

