<div class="dropdown" ng-hide="side">
    <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ 'pa.diagnostics.changeSide' | translate }}            
        <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-repeat="side in availableSides">
            <a href="#"
                ng-click="changeSide(side); $event.preventDefault();">
                {{side.Description}}
            </a>
        </li>
    </ul>
</div>

<table ng-show="selectedSide" class="table table-striped table-condensed">
    <caption>
        <span ng-show="!side">{{selectedSideDescription}}</span>
        <span ng-show="side">{{availableSides[0].Description}}</span>
    </caption>
    <tr>
        <th>{{'pa.diagnostics.equipmentName' | translate}}</th>
        <th>{{'pa.diagnostics.equipmentStatus' | translate}}</th>
    </tr>
    <tr ng-repeat="item in diagnosticsInfo">
        <td>{{item.EquipmentName}}</td>
        <td>{{item.EquipmentStatus}}</td>
    </tr>
</table>

