
<div class="diagnosticsData">

    <table class="table table-striped table-condensed">
        <tr ng-repeat="(key, value) in diagnosticsData">
            <td ng-show="key != 'AssemblyDictionary' && key != 'AppSettings'">
                {{key}}
            </td>
            <td ng-show="key != 'AssemblyDictionary' && key != 'AppSettings'">{{value}}</td>
            <td ng-show="key == 'AssemblyDictionary'">
                {{key}}
            </td>
            <td ng-show="key == 'AssemblyDictionary'">
                <table class="table">
                    <tr>
                        <th ng-repeat="(k, v) in AssemblyDictionaryData[0]">
                            {{k}}
                        </th>
                    </tr>

                    <tr ng-repeat="item in AssemblyDictionaryData">
                        <td ng-repeat="(k, v) in item">
                            {{v}}

                        </td>
                    </tr>

                </table>
            </td>

            <td ng-show="key == 'AppSettings'">
                {{key}}
            </td>
            <td ng-show="key == 'AppSettings'">
                <table class="table">
                    <tr ng-repeat="(key, value) in AppSettingsDataObj">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


