
<div class="row">
    <div class="span6">
        <label>{{ 'pa.sap.address' | translate }}</label>
        <input type="text" ng-model="sapUrl" style="width: 930px;" />
    </div>

</div>


<div class="row">
    <div class="span2">
        <label>{{ 'pa.sap.login' | translate }}</label>
        <input type="text"
               class="input-large"
               ng-model="login" />
    </div>

</div>
<div class="row">
    <div class="span2">
        <label>{{ 'pa.sap.password' | translate }}</label>
        <input type="password"
               class="input-large"
               ng-model="password" />
    </div>

</div>

<div class="row">
    <div class="span2">


        <button class="btn"
                ng-disabled="!login || !password || !sapUrl"
                ng-click="updateSAP()">
            
            {{ 'pa.LabelButtons.refresh' | translate }}
        </button>
    </div>
</div>
            