<button class="add btn btn-default" 
        ng-click="createForm()">Create</button>

<button class="add btn btn-default" 
        ng-click="editForm(selectedRow)" 
        ng-disabled="!selectedRow">Edit</button>

<button class="add btn btn-default"
        ng-click="deleteRow(selectedOrder)"
        ng-disabled="!selectedOrder">Delete</button>

<button class="add btn btn-default"
        ng-click="copyForm(selectedRow)"
        ng-disabled="!selectedRow">Copy</button>

<a href="{{downloadTechnicalList}}" class="btn btn-default pull-right">Скачать тех. лист</a>

<div id="orders">

</div>

<div id="orderDetails">

</div>

<div class="black-wrapper" ng-class="{'show': isShowModal}" ng-show="isShowModal">
    <div class="modal">

        <div class="formWrapper">
            <form id="orderForm" novalidate></form>
        </div>
        
    </div>
</div>