<link href="Content/Shared/layoutWA.css" rel="stylesheet" />

<ul class="nav nav-tabs">

    <!--    <li class="tab" ui-sref-active="active"
        ng-click="SelectMainTab()">
        <a>Main</a>
    </li>

    <li ng-repeat="Weighbridge in AvalWeighbridges"
        class="tab" ui-sref-active="active"
        ng-click="SelectWeighbridge(Weighbridge.ID)">
        <a>{{Weighbridge.Description}} {{$state}}</a>
    </li>-->

    <li class="tab" ui-sref-active="active">
        <a ui-sref="app.WeightAnalytics.Main" ui-sref-opts="{reload: true}">Main</a>
    </li>

    <li ng-repeat="Weighbridge in AvalWeighbridges"
        class="tab" ui-sref-active="active">
        <a ui-sref=".WBStatic ({ wb_id: Weighbridge.ID, ws_id: null })">{{Weighbridge.Description}}</a>
    </li>


</ul>


<div ui-view>
    app.WeightAnalytics_new content here
</div>

