@{
    ViewBag.Title = "Actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/action/index.js"></script>

<div class="row show-grid">
    <div class="span5">
        <ul id="item_list" class="pre-scrollable"></ul>
    </div>

    <div class="span8">
        <form id="action" class="form-horizontal"></form>
    </div>
</div>