<ul class="nav nav-tabs">
    <li ng-repeat="Weighbridge in AvalWeighbridges"
        class="tab" ui-sref-active="active"
        ng-click="SelectWeighbridge(Weighbridge.ID)">
        <a>{{Weighbridge.Description}}</a>
    </li>
</ul>



<!--когда еще грузится страница-->
<div class="container loading" ng-show="$root.showLoadingState">
    <div class="loading-msg">
        <h1>Loading ...</h1>
    </div>
</div>

<ui-view>

</ui-view>


<!--основная часть, когда страница прогрузилась-->
<div ng-show="!$root.showLoadingState && CurrentWeightSheet.CurrentWeighbridgeID">

    <div class="scaleDetailInfo" style="margin-top: 0px; height: 335px">


        <!--LEFT SIDE-->
        <div class="scaleInfo leftpanel">

            <div class="controlsRowWeightanalytics" ng-disabled="false">
                <div class="captionWeightanalytics"
                    style="font-weight: bold; width: 80%"
                    ng-show="CurrentWeightSheet.WeightingMode && isInfoLoaded">
                    {{ 'weightanalytics.Labels.openedWS' | translate }} {{CurrentWeightSheet.WeightSheetNumber}} ({{ 'weightanalytics.' + CurrentWeightSheet.WeightingMode.Description | translate }})
                </div>
                <div class="captionWeightanalytics"
                    style="font-weight: bold; width: 80%"
                    ng-show="!CurrentWeightSheet.WeightingMode && isInfoLoaded">
                    {{ 'weightanalytics.Labels.noOpenedWS' | translate }}
                </div>

                <div style="text-align: right">
                    <div class="dropdown" ng-show="!CurrentWeightSheet.WeightingMode && isInfoLoaded">
                        <button class="btn btn-default dropdown-toggle plusWeightanalytics" type="button" id="Button1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <!--Создать отвесную-->
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                         
                <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right addws" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="mode in WeightingModes"
                                ng-click="SelectWeighingMode(mode)">{{ 'weightanalytics.' + mode.Description | translate }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




                        <!--<div>WeightingMode: {{CurrentWeightSheet.WeightingMode.Description}}</div>-->
            <!--<div>WeightSheetID: {{CurrentWeightSheet.WeightSheetID}}</div>
            <div>WeightSheetNumber: {{CurrentWeightSheet.WeightSheetNumber}}</div>-->
            <!--<div>WeightSheetStartDT: {{CurrentWeightSheet.WeightSheetStartDT | date:'dd.MM.yyyy HH:mm' : 'UTC'}}</div>-->

            <div ng-disabled="CurrentWeightSheet.WeightingMode || !isInfoLoaded">
                {{ 'weightanalytics.Labels.archiveWS' | translate }}:
            </div>

            <div style="position: relative">
                <div class="treeContainerWeightanalytics">
                    <div id="weight_sheet_list">
                    </div>
                </div>
                <div class="disableWeightanalytics"
                    ng-show="CurrentWeightSheet.WeightingMode || !isInfoLoaded">
                </div>
            </div>

            <div class="controlsWeightanalytics">
                <button type="button"
                    id="PrintWS"
                    class="btn btn-default takeWeight"
                    ng-disabled="!CurrentWeightSheet.WeightSheetID && !ArchiveWeightSheetSelected"
                    ng-click="PrintWeightSheet()">
                    {{'weightanalytics.Buttons.printWS' | translate}}
                </button>

                <button type="button"
                    class="btn btn-default takeWeight"
                    my-confirm-click="Вы уверены, что хотите закрыть отвесную?"
                    ng-disabled="!CurrentWeightSheet.WeightSheetID"
                    confirmed-click="CloseWeightSheet()">
                    {{'weightanalytics.Buttons.closeWS' | translate}}
                </button>

            </div>

        </div>


        <!--CENTER SIDE-->
        <div class="scaleInfo leftpanel" ng-disabled="!CurrentWeightSheet.WeightingMode">
            <div ng-style="{'visibility': CurrentWeightSheet.WeightingMode ? 'visible' : 'hidden'}">
                <div uib-alert class="infoLabelWeightanalytics alertWeightanalytics" style="text-transform: uppercase">-- {{ 'weightanalytics.' + CurrentWeightSheet.WeightingMode.Description | translate }} --</div>

                <div class="scaleContainer"
                    style="width: 290px"
                    ng-class="{'active': false, 'failure': true}">

                    <div>
                        <div class="plotAreaWeightanalytics" ng-show="true"
                            id="plot-1000">
                        </div>

                        <div ng-show="false" style="line-height: 6;">
                            {{ 'loadingMsg' | translate }}                  
                        </div>

                        <div ng-show="true">

                            <h3 ng-show="CurrentWeight" class="indicatorsWeightanalytics">{{CurrentWeight | number:2}} {{ 'weightanalytics.ton' | translate }}
                            </h3>
                            <div class="indicatorsWeightanalytics isStableScalesIndicator"
                                style=""
                                ng-show="WeightStab">
                            </div>

                            <i class="circle indicatorsWeightanalytics"
                                ng-class="{'red': CurrentWeight == null, 'green': CurrentWeight != null}"
                                style="left: auto"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div style="padding:5px; font-size:12px">
                <table style="table-layout:fixed; width:100%">
                    <tr>
                        <td ng-repeat="WP in WeightPlatforms">
                         <input type="radio" name="radio-primary" ng-value="WP" ng-model="CurrentWeightSheet.WeightPlatform" value="true"/>                       
                        {{ 'weightanalytics.Labels.' + WP.Description | translate }}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="controlsWrapper">

                <div class="paramRowWeightanalytics">
                    <div class="paramNameWeightanalytics">
                        {{ 'weightanalytics.Labels.platform' | translate }} I                   
                    </div>
                    <div class="paramValueWeightanalytics" ng-style="{'visibility': CurrentWeightSheet.WeightingMode ? 'visible' : 'hidden'}">
                        {{CurrentWeightPlatf1 | number:2}} {{ 'weightanalytics.ton' | translate }}
                    </div>
                </div>

                <div class="paramRowWeightanalytics">
                    <div class="paramNameWeightanalytics">
                        {{ 'weightanalytics.Labels.platform' | translate }} II                   
                    </div>
                    <div class="paramValueWeightanalytics" ng-style="{'visibility': CurrentWeightSheet.WeightingMode ? 'visible' : 'hidden'}">
                        {{CurrentWeightPlatf2 | number:2}} {{ 'weightanalytics.ton' | translate }}
                    </div>
                </div>

            </div>

            <div class="controlsWrapper">

                <div class="paramRowWeightanalytics">
                    <div class="paramNameWeightanalytics">
                        {{ 'weightanalytics.Labels.offset' | translate }} X                  
                    </div>
                    <div class="paramValueWeightanalytics" ng-style="{'visibility': CurrentWeightSheet.WeightingMode ? 'visible' : 'hidden'}">
                        {{CurrentWeightOffsetX | number:2}} {{ 'weightanalytics.ton' | translate }}
                    </div>
                </div>

                <div class="paramRowWeightanalytics">
                    <div class="paramNameWeightanalytics">
                        {{ 'weightanalytics.Labels.offset' | translate }} Y                   
                    </div>
                    <div class="paramValueWeightanalytics" ng-style="{'visibility': CurrentWeightSheet.WeightingMode ? 'visible' : 'hidden'}">
                        {{CurrentWeightOffsetY | number:2}} {{ 'weightanalytics.ton' | translate }}
                    </div>
                </div>

            </div>

        </div>



        <!--RIGHT SIDE-->
        <div class="scaleInfo leftpanel" ng-disabled="!CurrentWeightSheet.WeightingMode">

            <div uib-alert class="infoLabelWeightanalytics">{{ 'weightanalytics.Labels.enterParameter' | translate }}:</div>
            <!--<div class="controlsWrapper">-->
            <div class="controlsRowWeightanalytics" ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">
                <div class="captionWeightanalytics">
                    {{ 'weightanalytics.Labels.sender' | translate }} 
                   
                </div>
                <div class="controlWeightanalytics">
                    <div class="dropdown form-control weightanalytics"
                        ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                        <div class="dropdown-toggle" type="button" id="Div3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            ng-hide="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                            <input type="text"
                                class="dropdown-input"
                                ng-model="CurrentWeightSheet.SelectedScrapSender.Name" />
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="ScrapSender in ScrapSenders | orderBy:'ID'">
                                <a ng-click="SelectScrapSender(ScrapSender)">{{ScrapSender.ID}}. {{ScrapSender.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--</div>-->

            <!--<div class="controlsWrapper">-->
            <div class="controlsRowWeightanalytics" ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">
                <div class="captionWeightanalytics">
                    {{ 'weightanalytics.Labels.receiver' | translate }}  
                   
                </div>
                <div class="controlWeightanalytics">
                    <div class="dropdown form-control weightanalytics"
                        ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                        <div class="dropdown-toggle" type="button" id="Div1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            ng-hide="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                            <input type="text"
                                class="dropdown-input"
                                ng-model="CurrentWeightSheet.SelectedScrapReceiver.Name" />
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="ScrapReceiver in ScrapReceivers | orderBy:'ID'">
                                <a ng-click="SelectScrapReceiver(ScrapReceiver)">{{ScrapReceiver.ID}}. {{ScrapReceiver.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--</div>-->

            <!--<div class="controlsWrapper">-->
            <div class="controlsRowWeightanalytics" ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">
                <div class="captionWeightanalytics">
                    {{ 'weightanalytics.Labels.scrapType' | translate }}                  
                </div>
                <div class="controlWeightanalytics">
                    <div class="dropdown form-control weightanalytics"
                        ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                        <div class="dropdown-toggle" type="button" id="Div2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            ng-hide="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">

                            <input type="text"
                                class="dropdown-input"
                                ng-model="CurrentWeightSheet.SelectedScrapType.ID" />
                            <span class="caret"></span>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-repeat="ScrapType in ScrapTypes | orderBy:'ID'">
                                <a ng-click="SelectScrapType(ScrapType)">{{ScrapType.ID}}. {{ScrapType.Description}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--</div>-->

            <div class="controlsRowWeightanalytics"
                ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode">
                <div class="captionWeightanalytics">
                    {{ 'weightanalytics.Labels.waybill' | translate }} 
                </div>
                <div class="controlWeightanalytics">
                    <input type="text" class="input-small form-control"
                        ng-model="CurrentWeightSheet.WaySheetNumber"
                        ng-disabled="CurrentWeightSheet.WeightingMode.Description == 'Taring' || !CurrentWeightSheet.WeightingMode || WaySheetNumberDisabled" />
                </div>
            </div>


            <div class="controlsRowWeightanalytics" ng-disabled="!CurrentWeightSheet.WeightingMode">
                <div class="captionWeightanalytics">
                    {{ 'weightanalytics.Labels.wagon' | translate }}                   
                </div>
                <div class="controlWeightanalytics">
                    <div class="dropdown weightanalytics">
                        <ui-select ng-model="CurrentPairNumber.selected" on-select="SelectPairNumber($item)" ng-disabled="!CurrentWeightSheet.WeightingMode">
                            <ui-select-match placeholder="{{ 'weightanalytics.Labels.wagonSelect' | translate }}">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="Pair in GetPairNumbers($select.search) | filter: $select.search">
                                <div ng-bind="Pair"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="controlsRowWeightanalytics"
                 ng-show="CurrentWeightSheet.WeightingMode.Description == 'Weighting' && CurrentPairNumber.selected">
                <div class="captionWeightanalytics">
                </div>
                <div style="font-size:12px">
                        {{ 'weightanalytics.Table.tare' | translate }}: {{CurrentPairNumberTare | number:2}} {{ 'weightanalytics.ton' | translate }}
                </div>
            </div>
            

            <div ng-hide="true">
                {{CurrentWeightSheet.SelectedScrapSender.Name}}
                <br />
                {{CurrentWeightSheet.SelectedScrapReceiver.Name}}
                <br />
                {{CurrentWeightSheet.SelectedScrapType.Description}}
                <br />
                {{CurrentWeightSheet.WaySheetNumber}}
                <br />
                {{CurrentWeightSheet.CurrentPairNumber}}
                {{CurrentWeightSheet.PairNumbers}}              
            </div>


            <div class="controlsWeightanalytics">
                                <button type="button"
                    class="btn btn-default takeWeight"
                    ng-disabled="!((CurrentWeightSheet.WeightingMode.Description == 'Weighting'  && CurrentWeightSheet.CurrentPairNumber && CurrentWeightSheet.WaySheetNumber 
                                        && CurrentWeightSheet.SelectedScrapSender.Name && CurrentWeightSheet.SelectedScrapReceiver.Name && CurrentWeightSheet.SelectedScrapType)
                                || (CurrentWeightSheet.WeightingMode.Description == 'Taring'    && CurrentWeightSheet.CurrentPairNumber)) 
                                || TakeWeightButtonDisabled || (CurrentWeight < 10) || !WeightStab"
                    ng-click="TakeWeight()">
                    {{'weightanalytics.Buttons.takeWeight' | translate}}
                </button>
            </div>

        </div>


    </div>

<!--    <table class="table container" ng-show="CurrentWeightSheet.WeightSheetNumber || ArchiveWeightSheetSelected">
            <thead>
                <tr class="row">
                    <th class="col-sm-4"></th>
                    <th class="col-sm-4">{{ 'weightanalytics.Labels.openedWS' | translate }} {{CurrentWeightSheet.WeightSheetNumber}}</th>
                    <th class="col-sm-4">Весовщик: 90909</th>
                </tr>
            </thead>
    </table>-->

    <div style="margin-top: 5px">
        <div id="KP4_Wagon" ng-show="CurrentWeightSheet.WeightingMode || ArchiveWeightSheetSelected">
        </div>
        <div ng-show="false" style="display: table; height: 500px; width: 940px">
            <p style="display: table-cell; text-align: center; vertical-align: middle;">
                Loading ...
           
            </p>

        </div>
    </div>

<!--    <table class="table table-striped table-condensed table-diagnostics">
        <tr ng-repeat="WS in WeightSheetForPrint">
            <td>{{WS.ID}}</td>
            <td>{{WS.WeightingTime}}</td>
        </tr>
    </table>-->





    <!--weightsheet number input modal form-->
    <div class="black-wrapper" ng-show="ShowWeightSheetNumberModalWindow">
        <div class="modal additional">
            <button type="button"
                ng-click="CloseWeightSheetNumberModalWindow()"
                class="btn btn-circle pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <h4>{{ 'weightanalytics.Modal.enterWSNo' | translate }}</h4>

            <div class="enterLabelWrapper">
                <label>{{ 'weightanalytics.Modal.enterWSNo' | translate }}:</label>
                <input type="text"
                    class="labelNumber form-control"
                    my-number-check
                    ng-class="{'wrong': false}"
                    ng-model="Modal.WeightSheetNumber" />
            </div>

            <div class="control-row">

                <button type="button"
                    class="btn btn-default"
                    ng-click="EnterWeightSheetNumber()"
                    ng-disabled="!Modal.WeightSheetNumber.length">
                    OK
           
                </button>

                <button type="button"
                    class="btn btn-default"
                    ng-click="CloseWeightSheetNumberModalWindow()">
                    {{ 'buttonCancel' | translate }}
           
                </button>
            </div>

        </div>
    </div>

    <!--<div class="table-print" id="tbp">

        <div class="opis">
            <p>Дата {{WeightSheetForPrint.Date | date:'dd.MM.yyyy HH:mm' : 'UTC'}}</p>
            <p>Отправитель _______________________________</p>
            <p>Получатель ________________________________</p>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№ вагона</th>
                    <th>№ путевой</th>
                    <th>Род груза</th>
                    <th>Брутто</th>
                    <th>Тара</th>
                    <th>Нетто</th>
                    <th>Отправитель</th>
                    <th>Получатель</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>



    </div>
    <button id="btnPrint" style="display: none">Print Preview</button>-->



</div>


